<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guo_backend.mapper.CommentsMapper">

    <resultMap id="BaseResultMap" type="com.guo_backend.domain.Comments">
            <id property="commentId" column="comment_id" jdbcType="VARCHAR"/>
            <result property="commentTime" column="comment_time" jdbcType="TIMESTAMP"/>
            <result property="commentContent" column="comment_content" jdbcType="VARCHAR"/>
            <result property="reply" column="reply" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="chapterId" column="chapter_id" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment_id,comment_time,comment_content,
        reply,user_id,user_name,
        chapter_id,status
    </sql>
</mapper>
