<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.RolePrivilegeMapper">

    <resultMap id="BaseResultMap" type="generator.domain.RolePrivilege">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="privilegeId" column="privilege_id" jdbcType="VARCHAR"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="has" column="has" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,privilege_id,role_id,
        user_id,has
    </sql>
</mapper>
